<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>请输入信息！</title>
    </head>
    <body>
        <h1>Get-MCBBS-Score | MCBBS个人资料获取</h1>
        <p>使用方法：</p>
        <p>1.直接在下面的表单中输入信息，并点击提交。</p>
        <p>2.访问 info.cc7w.cf/get-mcbbs-score/<论坛UID></p>
        <p>3.访问 info.cc7w.cf/get-mcbbs-score?uid=<论坛UID> 或 info.cc7w.cf/get-mcbbs-score?username=<用户名></p>
        <br>
                <form action="/get-mcbbs-score" method="GET">
                信息来源: 
                    <select name='source'>
                    <option value = 'username'>用户名</option>
                    <option value = 'uid'>UID</option>
                    </select><br>
                用户名/UID: 
                    <input type="text" name="val">
                <input type="submit">
                </form>
        <br>
        <p><a href='/'><-点我返回工具页</a></p>
    </body>

</html>

